*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  font-size: 16px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothings: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: calc(100% - 32px);
  max-width: 954px;
  padding: 0 16px;
  margin: 0 auto;
}